.ant-row {
    background-color: white;
    padding: 1em 0;
}

.ant-btn-link {
    color: black;
    margin-left: 7em;
} 

// This is the font specified in Figma, but I'm not sure if we want to stick with IBM
// .ant-typography {
//     font-family: 'Roboto';
// }

.userDropdown, .loginAndSignupBtns {
    float: right;
    margin-right: 3em;
}

// need to do padding of buttons here but its not working as cleanly
// .loginBtn, .signUpBtn {  }

.signUpBtn {
    color: white;
    background-color: #505050;
    border-color: #505050;
    margin-left: 1em;
}

